@import "vars";

.picotune > .content > .column > .local {
	display: none;
}

.picotune[data-displaycolumn="display-local"] > .content > .column > .local {
	display: block;

	.header {
		@include column-header();
		cursor: pointer;
		.backButton {
			@include back-button();
		}
	}
	
	.content {
		.util {
			overflow: hidden;
			.inputFileLabel {
				cursor: pointer;
				display: block;
				text-align: center;
				border-radius: 1em;
				border: 3px dotted #f00;
				margin: 0.5em;

				.inputFileLabelText {
					padding: 0.5em;
				}
				.inputFile {
					display: none;
				}
			}
		}
	}
}