.picotune .uploadedSongItem {
	cursor: pointer;
	font-size: 75%;
	line-height: 1.5em;
	transition: border-width 0.1s;
	border-style: solid;
	border-color: #cd8;
	border-width: 0px;

	&:hover {
		border-left-width: 5px;
	}

	& > .composer {
		display: inline-block;
		margin: 5px 0 0 5px;
	}

	& > .uploadedDate {
		display: inline-block;
		margin: 5px 5px 0 5px;
		font-size: smaller;
	}

	& > .songName {
		margin: 0 5px 5px 5px;
		font-weight: bolder;
	}

	& + .uploadedSongItem {
		border-top: 1px solid #ccc;
	}

}